th, td { 
    padding-right: 30px; 
} 

#id_application_theme, #id_keywords {
    resize: vertical;
  }

  #addikeywords {
    color:blue;
    cursor: pointer;
  }

  #addikeywords:hover {
    font-weight: bold;
  }

  #fitem_id_aditionnalkeywords {
    display: none;
  }